* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    line-height: 1.5;
    outline: none;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.membersip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.messages {
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#alert_box, .message {
    position: fixed;
    top: 5em;
    padding: .5em 1em;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
    z-index: 222;
}

.warning {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .7em 1em;
    border-radius: 3px;
}

.alert {
    color: whitesmoke;
    font-family: var(--Poppins);
    font-size: .8em;
}

.cross {
    margin-left: .5em;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
}

.container-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-wrapper form {
    margin: 4em 0em;
    padding: .9em .2em;
    width: 90vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-wrapper {
    margin: 0em .3em;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
}

.multi_view, .no_new_line, .yes_new_line {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper input, .form-wrapper span, .form-wrapper select, .form-wrapper textarea {
    width: 95%;
}

.form-wrapper .icons {
    padding: .3em 0em;
    overflow: hidden;
    width: 95%;
}


.form-wrapper .icons label {
    font-family: var(--Poppins);
    overflow: hidden;
    font-weight: 400;
    font-size: .9em;
    color: rgb(93, 92, 92);
}

.multi_line_info {
    font-family: var(--Poppins);
    color: #676767;
    font-size: .7em;
}


.form-wrapper input, .form-wrapper select, .form-wrapper textarea {
    padding: .7em .3em;
    color: var(--Bluis-Gray);
    font-family: var(--Poppins);
    font-weight: 400;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(10, 9, 9);
}

.checkbox input {
    padding: .7em .3em;
    color: var(--Bluis-Gray);
    font-family: var(--Poppins);
    font-weight: 400;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(10, 9, 9);
    margin-bottom: 1.2em;
}

.phone-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: .5em;
}

.error-text {
    color: var(--theme-color);
    font-size: .8em;
    font-family: var(--Poppins);
}

.member_add {
    cursor: pointer;
    margin: 1em 0em;
    margin-top: 2em;
    padding: .7em 1.5em;
    background-color: var(--theme-color);
    border: none;
    font-family: var(--Poppins);
    font-size: 15px;
    font-weight: 400;
    color: var(--white-smoke);
    transition: transform 1.1s;
}

.member_add:hover {
    transform: scale(.9);
}

.heref{
    display: none;
    color: #201f1f;
    margin-top: .5em;
    font-family: var(--Montserrat);
    font-size: .9em;
}
@media screen and (min-width: 580px) {
    .container-wrapper form {
        width: 550px;
    }
}

/* Here remove the picture  */
@media screen and (min-width: 760px) {
    .container-wrapper form {
        width: 550px;
    }

    .address-wrapper {
        width: 90%;
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 910px) {
    .container-wrapper form {
        width: 700px;
    }
}